{% extends "recommend/Header.html" %}
{% load static %}
{% block content_block %}
<div class="catchcontent">
    <div class='container'>
        <div class="hero1zone">
            <h1>Santa AI</h1>
            <p>Twitter IDを入力してください</p>
            <form action="{%url 'recommend:home'%}" method="POST">
                <p>オプションで,相手の特徴を追加で記入することでレコメンドの精度が向上します．</p>
                
                <div class="spacer"></div>   
                <div class="input-group">
                    <input type="text" name="twid" class="form-control" placeholder="例: @twitter">
                    <span class="input-group-btn">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-info" style="color:white">ギフトを探す</button>
                    </span>
                </div>
                <input type="button" class="btn" value="オプションを開く" style="background-color: rgba(166, 219, 255, 0.274); color:white; font-size: smaller;" onclick="clickBtn1()" />
                <textarea class="form-control" name="hint" id="option" rows="3" placeholder="例1(キーワード): 友達とごはん　お出かけ好き　アウトドア　登山
例2(その人の言ってそうな事を書いてみる): 今日通天閣行ってきたんやけど，ライトアップ．．．"></textarea>
            </form>
            <a id="twitter_button" class="btn" style="visibility: collapse;">この結果をツイート</a>
            {% if twid %}
            <p><span id="twid">{{twid}}</span>さんの結果</p>
            <div class="row">
            <div class="col-lg-6">
            <div class="field">
                <div class="box">
                    <div style="position:relative; width:100%; height:100%;">
                        <canvas id="chart" width="100%" height="100%"></canvas>
                        <!-- スコアチャートを表示するためのスクリプト-->
                        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.5.1/chart.js"></script>
                        <script src="https://unpkg.com/chartjs-plugin-colorschemes"></script>
                        <script>
                          var item_= JSON.parse('{{items | safe}}');
                          var item0  = item_.data0;
                          var item1 =  item_.data1;
                          var item2   = item_.data2;
                          var item3 =  item_.data3;
                          var item4   = item_.data4;
                          var val0  = JSON.parse("{{vals.data0 | safe}}");
                          var val1 = JSON.parse("{{vals.data1 | safe}}");
                          var val2   = JSON.parse("{{vals.data2 | safe}}");
                          var val3 = JSON.parse("{{vals.data3 | safe}}");
                          var val4   = JSON.parse("{{vals.data4 | safe}}");
                          console.log(item4);
                        </script>
                        <script>
// 各軸のラベル
var rlabels = [item0,item1,item2,item3,item4];

// １つ目の系列の情報を設定
var series01name      = "ほしそうなもの";             // 系列１の名前
var series01data      = [val0, val1, val2,val3,val4]; // 系列１データ
var series01bgcolor   = "rgba(255, 45, 132, 0.2)";            // 系列１の塗りつぶし色
var series01linecolor = "rgba(255, 45, 132, 1.0)";            // 系列１の線の色

// グラフ縦軸の最大／最小／目盛りの間隔を設定
var rmax  = 4;  // グラフ縦軸の最大
var rmin  = 0;  // グラフ縦軸の最小
var rstep = 1;  // グラフ縦軸の目盛り線を引く間隔

var ctx = document.getElementById("chart").getContext("2d");

var chart = new Chart(ctx, {
    type: "radar",
    data: {
        labels: rlabels,
        datasets:[
            {
            label:           series01name,
            data:            series01data,
            backgroundColor: series01bgcolor,
            borderColor:     series01linecolor,
            borderWidth:     1,
            }, 
        ]
    },
    options: {
        scales: {
            r: {
                display:      true,
                suggestedMax: rmax,
                suggestedMin: rmin,
                ticks: {
                stepSize: rstep,
                },
                grid: {
                    color: "white",
                  },
                pointLabels:{
                    color:"white",
                 },
                
            },
        },
    }
});
                        </script>
                    </div>
                </div>
            </div>
            </div>
            <div class="col-lg-6" style="margin: auto; padding-left: 10%;">
              <p>おすすめギフトカテゴリ</p>
              {%for k,v in rader2.items %}
              <div>
                  {{k}}: おすすめ度{{v}}
              </div>
              {% endfor %}
            </div>
            </div>
            <div class="spacer"></div>  
            <p>AIによるレコメンドアイテム</p>
            <div class="clickrecord">
                <div class="card-group">
                {% for i in besturl0 %}
                <div class="card h-100" style="color:black; font-size: smaller; border: 0ch;">
                    <a href="https://www.amazon.co.jp/dp/{{i.1}}/ref=nosim?tag=kamebusiness1-22" target='_blank' id='{{i.1}}' class='{{i.2}}'>
                    <img src="{{i.2}}" class="card-img-top" alt="..." width="50">
                    <div class="card-body">
                      <div class="text-overflow-lines">
                        <p class="card-text">{{i.0}}</p>
                      </div>
                    </div>
                    </a>
                </div>
                {% endfor %}
                {% for i in besturl1 %}
                <div class="card h-100" style="color:black; font-size: smaller; border: 0ch;">
                    <a href="https://www.amazon.co.jp/dp/{{i.1}}/ref=nosim?tag=kamebusiness1-22" target='_blank' id='{{i.1}}' class='{{i.2}}'>
                    <img src="{{i.2}}" class="card-img-top" alt="..." width="50">
                    <div class="card-body">
                      <div class="text-overflow-lines">
                        <p class="card-text">{{i.0}}</p>
                      </div>
                    </div>
                    </a>
                </div>
                {% endfor %}
                {% for i in besturl2 %}
                <div class="card h-100" style="color:black; font-size: smaller; border: 0ch;">
                    <a href="https://www.amazon.co.jp/dp/{{i.1}}/ref=nosim?tag=kamebusiness1-22" target='_blank' id='{{i.1}}' class='{{i.2}}'>
                    <img src="{{i.2}}" class="card-img-top" alt="..." width="50">
                    <div class="card-body">
                      <div class="text-overflow-lines">
                        <p class="card-text">{{i.0}}</p>
                      </div>
                    </div>
                    </a>
                </div>
                {% endfor %}
                {% for i in besturl3 %}
                <div class="card h-100" style="color:black; font-size: smaller; border: 0ch;">
                    <a href="https://www.amazon.co.jp/dp/{{i.1}}/ref=nosim?tag=kamebusiness1-22" target='_blank' id='{{i.1}}' class='{{i.2}}'>
                    <img src="{{i.2}}" class="card-img-top" alt="..." width="50">
                    <div class="card-body">
                      <div class="text-overflow-lines">
                        <p class="card-text">{{i.0}}</p>
                      </div>
                    </div>
                    </a>
                </div>
                {% endfor %}
                {% for i in besturl4 %}
                <div class="card h-100" style="color:black; font-size: smaller; border: 0ch;">
                    <a href="https://www.amazon.co.jp/dp/{{i.1}}/ref=nosim?tag=kamebusiness1-22" target='_blank' id='{{i.1}}' class='{{i.2}}'>
                    <img src="{{i.2}}" class="card-img-top" alt="..." width="50">
                    <div class="card-body">
                      <div class="text-overflow-lines">
                        <p class="card-text">{{i.0}}</p>
                      </div>
                    </div>
                    </a>
                </div>
                {% endfor %}
                {% for i in besturl5 %}
                <div class="card h-100" style="color:black; font-size: smaller; border: 0ch;">
                    <a href="https://www.amazon.co.jp/dp/{{i.1}}/ref=nosim?tag=kamebusiness1-22" target='_blank' id='{{i.1}}' class='{{i.2}}'>
                    <img src="{{i.2}}" class="card-img-top" alt="..." width="50">
                    <div class="card-body">
                      <div class="text-overflow-lines">
                        <p class="card-text">{{i.0}}</p>
                      </div>
                    </div>
                    </a>
                </div>
                {% endfor %}
                {% for i in besturl6 %}
                <div class="card h-100" style="color:black; font-size: smaller; border: 0ch;">
                    <a href="https://www.amazon.co.jp/dp/{{i.1}}/ref=nosim?tag=kamebusiness1-22" target='_blank' id='{{i.1}}' class='{{i.2}}'>
                    <img src="{{i.2}}" class="card-img-top" alt="..." width="50">
                    <div class="card-body">
                      <div class="text-overflow-lines">
                        <p class="card-text">{{i.0}}</p>
                      </div>
                    </div>
                    </a>
                </div>
                {% endfor %}
                {% for i in besturl7 %}
                <div class="card h-100" style="color:black; font-size: smaller; border: 0ch;">
                    <a href="https://www.amazon.co.jp/dp/{{i.1}}/ref=nosim?tag=kamebusiness1-22" target='_blank' id='{{i.1}}' class='{{i.2}}'>
                    <img src="{{i.2}}" class="card-img-top" alt="..." width="50">
                    <div class="card-body">
                      <div class="text-overflow-lines">
                        <p class="card-text">{{i.0}}</p>
                      </div>
                    </div>
                    </a>
                </div>
                {% endfor %}
                {% for i in besturl8 %}
                <div class="card h-100" style="color:black; font-size: smaller; border: 0ch;">
                    <a href="https://www.amazon.co.jp/dp/{{i.1}}/ref=nosim?tag=kamebusiness1-22" target='_blank' id='{{i.1}}' class='{{i.2}}'>
                    <img src="{{i.2}}" class="card-img-top" alt="..." width="50">
                    <div class="card-body">
                      <div class="text-overflow-lines">
                        <p class="card-text">{{i.0}}</p>
                      </div>
                    </div>
                    </a>
                </div>
                {% endfor %}
                {% for i in besturl9 %}
                <div class="card h-100" style="color:black; font-size: smaller; border: 0ch;">
                    <a href="https://www.amazon.co.jp/dp/{{i.1}}/ref=nosim?tag=kamebusiness1-22" target='_blank' id='{{i.1}}' class='{{i.2}}'>
                    <img src="{{i.2}}" class="card-img-top" alt="..." width="50">
                    <div class="card-body">
                      <div class="text-overflow-lines">
                        <p class="card-text">{{i.0}}</p>
                      </div>
                    </div>
                    </a>
                </div>
                {% endfor %}
                {% for i in besturl10 %}
                <div class="card h-100" style="color:black; font-size: smaller; border: 0ch;">
                    <a href="https://www.amazon.co.jp/dp/{{i.1}}/ref=nosim?tag=kamebusiness1-22" target='_blank' id='{{i.1}}' class='{{i.2}}'>
                    <img src="{{i.2}}" class="card-img-top" alt="..." width="50">
                    <div class="card-body">
                      <div class="text-overflow-lines">
                        <p class="card-text">{{i.0}}</p>
                      </div>
                    </div>
                    </a>
                </div>
                {% endfor %}
                {% for i in besturl11 %}
                <div class="card h-100" style="color:black; font-size: smaller; border: 0ch;">
                    <a href="https://www.amazon.co.jp/dp/{{i.1}}/ref=nosim?tag=kamebusiness1-22" target='_blank' id='{{i.1}}' class='{{i.2}}'>
                    <img src="{{i.2}}" class="card-img-top" alt="..." width="50">
                    <div class="card-body">
                      <div class="text-overflow-lines">
                        <p class="card-text">{{i.0}}</p>
                      </div>
                    </div>
                    </a>
                </div>
                {% endfor %}
                {% for i in besturl12 %}
                <div class="card h-100" style="color:black; font-size: smaller; border: 0ch;">
                    <a href="https://www.amazon.co.jp/dp/{{i.1}}/ref=nosim?tag=kamebusiness1-22" target='_blank' id='{{i.1}}' class='{{i.2}}'>
                    <img src="{{i.2}}" class="card-img-top" alt="..." width="50">
                    <div class="card-body">
                      <div class="text-overflow-lines">
                        <p class="card-text">{{i.0}}</p>
                      </div>
                    </div>
                    </a>
                </div>
                {% endfor %}
                {% for i in besturl13 %}
                <div class="card h-100" style="color:black; font-size: smaller; border: 0ch;">
                    <a href="https://www.amazon.co.jp/dp/{{i.1}}/ref=nosim?tag=kamebusiness1-22" target='_blank' id='{{i.1}}' class='{{i.2}}'>
                    <img src="{{i.2}}" class="card-img-top" alt="..." width="50">
                    <div class="card-body">
                      <div class="text-overflow-lines">
                        <p class="card-text">{{i.0}}</p>
                      </div>
                    </div>
                    </a>
                </div>
                {% endfor %}
                {% for i in besturl14 %}
                <div class="card h-100" style="color:black; font-size: smaller; border: 0ch;">
                    <a href="https://www.amazon.co.jp/dp/{{i.1}}/ref=nosim?tag=kamebusiness1-22" target='_blank' id='{{i.1}}' class='{{i.2}}'>
                    <img src="{{i.2}}" class="card-img-top" alt="..." width="50">
                    <div class="card-body">
                      <div class="text-overflow-lines">
                        <p class="card-text">{{i.0}}</p>
                      </div>
                    </div>
                    </a>
                </div>
                {% endfor %}
                {% for i in besturl15 %}
                <div class="card h-100" style="color:black; font-size: smaller; border: 0ch;">
                    <a href="https://www.amazon.co.jp/dp/{{i.1}}/ref=nosim?tag=kamebusiness1-22" target='_blank' id='{{i.1}}' class='{{i.2}}'>
                    <img src="{{i.2}}" class="card-img-top" alt="..." width="50">
                    <div class="card-body">
                      <div class="text-overflow-lines">
                        <p class="card-text">{{i.0}}</p>
                      </div>
                    </div>
                    </a>
                </div>
                {% endfor %}
                {% for i in besturl16 %}
                <div class="card h-100" style="color:black; font-size: smaller; border: 0ch;">
                    <a href="https://www.amazon.co.jp/dp/{{i.1}}/ref=nosim?tag=kamebusiness1-22" target='_blank' id='{{i.1}}' class='{{i.2}}'>
                    <img src="{{i.2}}" class="card-img-top" alt="..." width="50">
                    <div class="card-body">
                      <div class="text-overflow-lines">
                        <p class="card-text">{{i.0}}</p>
                      </div>
                    </div>
                    </a>
                </div>
                {% endfor %}
                {% for i in besturl17 %}
                <div class="card h-100" style="color:black; font-size: smaller; border: 0ch;">
                    <a href="https://www.amazon.co.jp/dp/{{i.1}}/ref=nosim?tag=kamebusiness1-22" target='_blank' id='{{i.1}}' class='{{i.2}}'>
                    <img src="{{i.2}}" class="card-img-top" alt="..." width="50">
                    <div class="card-body">
                      <div class="text-overflow-lines">
                        <p class="card-text">{{i.0}}</p>
                      </div>
                    </div>
                    </a>
                </div>
                {% endfor %}
                {% for i in besturl18 %}
                <div class="card h-100" style="color:black; font-size: smaller; border: 0ch;">
                    <a href="https://www.amazon.co.jp/dp/{{i.1}}/ref=nosim?tag=kamebusiness1-22" target='_blank' id='{{i.1}}' class='{{i.2}}'>
                    <img src="{{i.2}}" class="card-img-top" alt="..." width="50">
                    <div class="card-body">
                      <div class="text-overflow-lines">
                        <p class="card-text">{{i.0}}</p>
                      </div>
                    </div>
                    </a>
                </div>
                {% endfor %}
                {% for i in besturl19 %}
                <div class="card h-100" style="color:black; font-size: smaller; border: 0ch;">
                    <a href="https://www.amazon.co.jp/dp/{{i.1}}/ref=nosim?tag=kamebusiness1-22" target='_blank' id='{{i.1}}' class='{{i.2}}'>
                    <img src="{{i.2}}" class="card-img-top" alt="..." width="50">
                    <div class="card-body">
                      <div class="text-overflow-lines">
                        <p class="card-text">{{i.0}}</p>
                      </div>
                    </div>
                    </a>
                </div>
                {% endfor %}
                {% for i in besturl20 %}
                <div class="card h-100" style="color:black; font-size: smaller; border: 0ch;">
                    <a href="https://www.amazon.co.jp/dp/{{i.1}}/ref=nosim?tag=kamebusiness1-22" target='_blank' id='{{i.1}}' class='{{i.2}}'>
                    <img src="{{i.2}}" class="card-img-top" alt="..." width="50">
                    <div class="card-body">
                      <div class="text-overflow-lines">
                        <p class="card-text">{{i.0}}</p>
                      </div>
                    </div>
                    </a>
                </div>
                {% endfor %}
                {% for i in besturl21 %}
                <div class="card h-100" style="color:black; font-size: smaller; border: 0ch;">
                    <a href="https://www.amazon.co.jp/dp/{{i.1}}/ref=nosim?tag=kamebusiness1-22" target='_blank' id='{{i.1}}' class='{{i.2}}'>
                    <img src="{{i.2}}" class="card-img-top" alt="..." width="50">
                    <div class="card-body">
                      <div class="text-overflow-lines">
                        <p class="card-text">{{i.0}}</p>
                      </div>
                    </div>
                    </a>
                </div>
                {% endfor %}
                {% for i in besturl22 %}
                <div class="card h-100" style="color:black; font-size: smaller; border: 0ch;">
                    <a href="https://www.amazon.co.jp/dp/{{i.1}}/ref=nosim?tag=kamebusiness1-22" target='_blank' id='{{i.1}}' class='{{i.2}}'>
                    <img src="{{i.2}}" class="card-img-top" alt="..." width="50">
                    <div class="card-body">
                      <div class="text-overflow-lines">
                        <p class="card-text">{{i.0}}</p>
                      </div>
                    </div>
                    </a>
                </div>
                {% endfor %}
                {% for i in besturl23 %}
                <div class="card h-100" style="color:black; font-size: smaller; border: 0ch;">
                    <a href="https://www.amazon.co.jp/dp/{{i.1}}/ref=nosim?tag=kamebusiness1-22" target='_blank' id='{{i.1}}' class='{{i.2}}'>
                    <img src="{{i.2}}" class="card-img-top" alt="..." width="50">
                    <div class="card-body">
                      <div class="text-overflow-lines">
                        <p class="card-text">{{i.0}}</p>
                      </div>
                    </div>
                    </a>
                </div>
                {% endfor %}
                {% for i in besturl24 %}
                <div class="card h-100" style="color:black; font-size: smaller; border: 0ch;">
                    <a href="https://www.amazon.co.jp/dp/{{i.1}}/ref=nosim?tag=kamebusiness1-22" target='_blank' id='{{i.1}}' class='{{i.2}}'>
                    <img src="{{i.2}}" class="card-img-top" alt="..." width="50">
                    <div class="card-body">
                      <div class="text-overflow-lines">
                        <p class="card-text">{{i.0}}</p>
                      </div>
                    </div>
                    </a>
                </div>
                {% endfor %}
                {% for i in besturl25 %}
                <div class="card h-100" style="color:black; font-size: smaller; border: 0ch;">
                    <a href="https://www.amazon.co.jp/dp/{{i.1}}/ref=nosim?tag=kamebusiness1-22" target='_blank' id='{{i.1}}' class='{{i.2}}'>
                    <img src="{{i.2}}" class="card-img-top" alt="..." width="50">
                    <div class="card-body">
                      <div class="text-overflow-lines">
                        <p class="card-text">{{i.0}}</p>
                      </div>
                    </div>
                    </a>
                </div>
                {% endfor %}
                {% for i in besturl26 %}
                <div class="card h-100" style="color:black; font-size: smaller; border: 0ch;">
                    <a href="https://www.amazon.co.jp/dp/{{i.1}}/ref=nosim?tag=kamebusiness1-22" target='_blank' id='{{i.1}}' class='{{i.2}}'>
                    <img src="{{i.2}}" class="card-img-top" alt="..." width="50">
                    <div class="card-body">
                      <div class="text-overflow-lines">
                        <p class="card-text">{{i.0}}</p>
                      </div>
                    </div>
                    </a>
                </div>
                {% endfor %}
                {% for i in besturl27 %}
                <div class="card h-100" style="color:black; font-size: smaller; border: 0ch;">
                    <a href="https://www.amazon.co.jp/dp/{{i.1}}/ref=nosim?tag=kamebusiness1-22" target='_blank' id='{{i.1}}' class='{{i.2}}'>
                    <img src="{{i.2}}" class="card-img-top" alt="..." width="50">
                    <div class="card-body">
                      <div class="text-overflow-lines">
                        <p class="card-text">{{i.0}}</p>
                      </div>
                    </div>
                    </a>
                </div>
                {% endfor %}
                {% for i in besturl28 %}
                <div class="card h-100" style="color:black; font-size: smaller; border: 0ch;">
                    <a href="https://www.amazon.co.jp/dp/{{i.1}}/ref=nosim?tag=kamebusiness1-22" target='_blank' id='{{i.1}}' class='{{i.2}}'>
                    <img src="{{i.2}}" class="card-img-top" alt="..." width="50">
                    <div class="card-body">
                      <div class="text-overflow-lines">
                        <p class="card-text">{{i.0}}</p>
                      </div>
                    </div>
                    </a>
                </div>
                {% endfor %}
                {% for i in besturl29 %}
                <div class="card h-100" style="color:black; font-size: smaller; border: 0ch;">
                    <a href="https://www.amazon.co.jp/dp/{{i.1}}/ref=nosim?tag=kamebusiness1-22" target='_blank' id='{{i.1}}' class='{{i.2}}'>
                    <img src="{{i.2}}" class="card-img-top" alt="..." width="50">
                    <div class="card-body">
                      <div class="text-overflow-lines">
                        <p class="card-text">{{i.0}}</p>
                      </div>
                    </div>
                    </a>
                </div>
                {% endfor %}
                </div>
            </div>
            <div class="spacer"></div>
            {% if uselog_target %}
            <p>他の方の{{twid}}へのプレゼント</p>
            <div class="board">
            {% for each_uselog in uselog_target %}
            <a href="https://www.amazon.co.jp/dp/{{each_uselog.clicked_item}}/ref=nosim?tag=kamebusiness1-22" target='_blank' id='{{each_uselog.clicked_item}}'><img src="{{each_uselog.imgsource}}"></a>
            {% endfor %}
            </div>
            {% endif %}
            {% if uselog %}
            <div class="spacer"></div>
            <p>最近チェックした商品</p>
            <div class="board">
            {% for each_uselog in uselog %}
            <a href="https://www.amazon.co.jp/dp/{{each_uselog.clicked_item}}/ref=nosim?tag=kamebusiness1-22" target='_blank' id='{{each_uselog.clicked_item}}'><img src="{{each_uselog.imgsource}}"></a>
            {% endfor %}
            </div>
            {% endif %}
            {% if request.user.is_authenticated %}
            <div class="spacer"></div>
            <a href="/logout"><button type="button">ログアウト</button></a>
            {% else %}
            <p>Twitter診断にはログインが必要です。あなたはログインしていません</p>
            <button type="button" onclick="location.href='{% url 'social:begin' 'twitter' %}'">Twitterでログイン</button>
            {% endif %}
        </div>
    </div>
</div>
{% endif %}
<script>
    //初期表示は非表示
    document.getElementById("option").style.display ="none";
    
    function clickBtn1(){
        const p1 = document.getElementById("option");
    
        if(p1.style.display=="block"){
            // noneで非表示
            p1.style.display ="none";
        }else{
            // blockで表示
            p1.style.display ="block";
        }
    }
</script>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script type="text/javascript">
    if ($('#result').length > 0) {
        $('#twitter_button').css('visibility', 'visible')
        $('#twitter_button').click(function() {
        //ツイート内容をセット
        var result = document.getElementById('result').innerHTML;
        var tw_contents = (result);
        var url = "http://tohokuuniv.wp.xdomain.jp";
        //#twitter_buttonのhrefにパラメーターを渡す
        window.open().location.href = ("https://twitter.com/share?url=" + url + "&text=" + tw_contents + "&count=none&lang=ja");
        });
    }
</script>


<script type="text/javascript">
    function getCookie(name) {
    var cookieValue = null;
    if (document.cookie && document.cookie !== '') {
        var cookies = document.cookie.split(';');
        for (var i = 0; i < cookies.length; i++) {
            var cookie = jQuery.trim(cookies[i]);
            // Does this cookie string begin with the name we want?
            if (cookie.substring(0, name.length + 1) === (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
        }
    }
    return cookieValue;
    }

    function csrfSafeMethod(method) {
        // these HTTP methods do not require CSRF protection
        return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
    }

    $(document).on("click", ".clickrecord a", function() {
        var clicked_item = $(this).attr('id');
        var imgsource = $(this).attr('class');
        var targetid = $('#twid').text();
        console.log(clicked_item)
        var csrf_token = getCookie("csrftoken");
            $.ajax({
               type: "POST",
               url: "{%url 'recommend:postdata'%}",
               data: {
                   "userid": "value1",
                   "targetid": targetid,
                   "clicked_item": clicked_item,
                   "imgsource": imgsource,
               },
               contentType: "application/json",
               // 送信前にヘッダにcsrf_tokenを付与。
               beforeSend: function(xhr, settings) {
                    if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                        xhr.setRequestHeader("X-CSRFToken", csrf_token);
                    }
                },
                success: function(data) {
                    // alert(data);
                },
                error: function(xhr, status, error) {
                    // alert(status + "\n" + 
                    //         "Status: " + xhr.status + "\n" + error);
                }
            });
        
    });
</script>
{% endblock %}